*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}

html,body{
    width: 100%;
    height: 100%;

}

#main{
    
    height: 100vh;
    width: 100%;
    background-color: rgb(209, 126, 126);
    display: flex;
    align-items: center;
    justify-content: center;

}

#card{
    height: 450px;
    width: 300px;
    background-color: rgb(198, 214, 106);
    border-radius: 15px;
    overflow: hidden;
    
}

#full{
    height: 100%;
    width: 100%;
    display: none;
    background-size: cover;
    padding: 15px 0;
    background-position: center;
}

#progress{
    height: 4px;
    width: 100%;
    background-color: #c0b9b9;
}

#growth{
    height: 100%;
    width: 50%;
    background-color: #fff;
    border-radius: 30px;
}

#storiyan{
    padding: 10px;
    height: 90px;
    width: 100%;
    border-bottom: 1px dotted ;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
}

#storiyan::-webkit-scrollbar{
    display: none;
}
#storiyan .story{
    display: inline-block;
    height: 70px;
    width: 70px;
border: 1px solid red;
    border-radius: 50%;
    margin:0 6px;
    overflow: hidden;

}

.story img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}


